@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Dark */
:root {
  --text: #dcf6fe;
  --background: #011318;
  --primary: #75e4fa;
  --secondary: #1a06ac;
  --accent: #8730f8;
  --linear-gradient: linear-gradient (120deg, #a37183, #b08c85);
  --radius: 0.5rem;

  --foreground: #dcf6fe;
  --card: #011318;
  --card-foreground: #dcf6fe;
  --popover: #011318;
  --popover-foreground: #dcf6fe;
  --primary-foreground: #011318;
  --secondary-foreground: #dcf6fe;

  --muted: #0a2a33;
  --muted-foreground: #8fb8c2;

  --border: rgba(255, 255, 255, 0.12);
  --input: rgba(255, 255, 255, 0.15);
  --ring: var(--primary);

}

/* Light */
.light {
  --text: #011b23;
  --background: #e7f9fe;
  --primary: #05748a;
  --secondary: #6653f9;
  --accent: #5e07cf;
  --linear-gradient: linear-gradient(120deg, var(--primary), var(--accent));
  --radius: 0.5rem;

  --foreground: #011b23;
  --card: #e7f9fe;
  --card-foreground: #011b23;
  --popover: #e7f9fe;
  --popover-foreground: #011b23;

  --muted: #cdeff8;
  --muted-foreground: #44626b;

  --border: rgba(0, 0, 0, 0.1);
  --input: rgba(0, 0, 0, 0.15);
  --ring: var(--primary);
}

/* Tailwind v4 mapping */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-linear-gradient: var(--linear-gradient);
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* -------- */